*{
  box-sizing: border-box;  
}

body{
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
<<<<<<< HEAD
	  background: linear-gradient(to right, red , yellow);
}

.container{
    color: black;
    width: 75%;
    height: auto;
}

.calculator{
    color: cornsilk;
=======
    background: linear-gradient(to right, silver, gray);
>>>>>>> a0a24dd4f0c196516714fc96cc9aeabb01de14c7
}
